// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #906427;
$secondary: #B6AC97;
$dark: #392C1E;
$black: #292222;
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-serif: 'Hind Madurai', serif;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

html {
    position: relative;
    height: 100%;
}

main {
    margin-bottom: 144px;
}

footer.footer {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif;
}

.hero-scene {
    position: relative;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/hero_scene.jpg);
        background-size: cover ;
        background-position: 50% 75%;
        filter: brightness(0.6);
    }

    * {
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

}